<a href="https://colab.research.google.com/github/Hilalistik/gaih-students-repo-example/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Program to multiply two matrices using nested loops


# 3x2 matrix
X = [ [1,1],[1,1],[1,1] ]
# 2x3 matrix
Y = [ [1,3,5],[6,8,12] ]

# resultant matrix
result = [ [0,0,0],[0,0,0],[0,0,0] ]

my_list = []
# iterating rows of X matrix
for i in range( len(X) ):
   # iterating columns of Y matrix
   for j in range(len(Y[0])):
       # iterating rows of Y matrix
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]
  

for r in result:
   print(r)

[7, 11, 17]
[7, 11, 17]
[7, 11, 17]

In [8]:
# Program to multiply two matrices using list comprehension

# 3x2 matrix
X = [ [1,2],[3,4],[4,5] ]
# 2x3 matrix
Y = [ [1,2,3],[4,5,6] ]

# resultant matrix
resultant = [[sum(a*b for a,b in zip(X_row,Y_col)) for Y_col in zip(*Y)] for X_row in X]

# printing matrix.
for x in resultant:
   print(x)

[9, 12, 15]
[19, 26, 33]
[24, 33, 42]

In [11]:
# Prime number generator
def prime_generator(end):
    for n in range(2, end):     # n starts from 2 to end
        for x in range(2, n):   # check if x can be divided by n
            if n % x == 0:      # if true then n is not prime
                break
        else:                   # if x is found after exhausting all values of x
            yield n             # generate the prime


g = prime_generator(1000)       # give firt 1000 prime numbers
print(list(g))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [15]:
def is_Power_of_two(n):
        return n > 0 and (n & (n - 1)) == 0
print(is_Power_of_two(4))
print(is_Power_of_two(36))
print(is_Power_of_two(16))

True
False
True

In [16]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [18]:
import numpy as np
print(np.__version__)

1.19.5

In [19]:
import numpy as np
x = np.ones((3,3))
print("Checkerboard pattern:")
x = np.zeros((3,3),dtype=int)
x[1::2,::2] = 1
x[::2,1::2] = 1
print(x)

Checkerboard pattern:
[[0 1 0]
 [1 0 1]
 [0 1 0]]

In [20]:
import numpy as np #NumPy: 3x3 matris oluşturun
x = np.ones((3,3))
print("Checkerboard pattern:")
x = np.zeros((3,3),dtype=int)
x[1::3,::2] = 1
x[::2,1::3] = 1
print(x)

Checkerboard pattern:
[[0 1 0]
 [1 0 1]
 [0 1 0]]

In [ ]:
import numpy as np #2 ile 10 arasında değişen değerlere sahip bir 3x3 matris oluşturmak için bir NumPy programı yazın
x =  np.arange(2, 11).reshape(3,3)
print(x)

In [22]:
n=5; #döngü oluşturma
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
import numpy as np #NumPy: Sayısal değer listesini tek boyutlu NumPy dizisine dönüştürme
l = [12.23, 13.32, 100, 36.32]
print("Original List:",l)
a = np.array(l)
print("One-dimensional NumPy array: ",a)

Original List: [12.23, 13.32, 100, 36.32]
One-dimensional NumPy array:  [ 12.23  13.32 100.    36.32]

In [28]:
list1= list((1,2,3,4,5))
list2=list1
list3=list1.copy()

list1[-1] = 6

print(f'List 1: {list1}, List 2: {list2}, List 3: {list3}')

List 1: [1, 2, 3, 4, 6], List 2: [1, 2, 3, 4, 6], List 3: [1, 2, 3, 4, 5]

In [31]:
randomDict= {1:'1', 2:['1','2'], 3:['1','2','3']}
for key, value in randomDict.items():
  for v in value:
     print(v,end='')

112123

In [35]:
customTuple= (10,20,50,30,40)
customTuple= customTuple[::-1]
for i in customTuple:
  print(i,end='')

4030502010

In [47]:
def change(customlist):
  customlist[0]=0
  customlist.append(1)
  return customlist
  randomlist=[1,2,3,4,5,6]
  print(change(randomlist))

In [54]:
def change(customlist):
  customlist[0] = 0
  customlist.append(1)
  return customlist
  randomlist=[1,2,3,4,5,6]

  print(change(randomlist))

In [49]:
D= {1:1,2:'2','1':2,'2':3}
D['1']=2
print(D[D[D[str(D[1])]]])

3

In [55]:
sayılar = "123456789"

for sayı in sayılar:
    print(int(sayı) * 2)

2
4
6
8
10
12
14
16
18

In [56]:
a = "istihza.com"
"h" in a

True

In [ ]:
tr_harfler = "şçöğüİı"

parola = input("Parolanız: ")

for karakter in parola:
    if karakter in tr_harfler:
        print("parolada Türkçe karakter kullanılamaz")

In [ ]:
count = 1

# Code block 1
while count < 11:
    print(count)
    count = count + 1

# Code block 2
if count == 11:
    print("Counting complete!")